{% extends "base.html" %}
{% block title %} Comprovar reserves {% endblock %}
{% block content %}

<h2 class="text-4xl font-extrabold dark:text-dark pt-6 pb-6">Bàsic</h2>
<div class="relative overflow-x-auto">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">
          USUARI
        </th>
        <th scope="col" class="px-6 py-3">
          Carro
        </th>
        <th scope="col" class="px-6 py-3">
          Dia
        </th>
      </tr>
    </thead>
    <tbody>
      {% for r in reserves %}
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          {{ r.nom }} {{ r.llinatges}}
        </th>
        <td class="px-6 py-4">
          {{ r.carro }}
        </td>
        <td class="px-6 py-4">
          {{ r.dia_reserva}}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<h2 class="text-4xl font-extrabold dark:text-dark pt-6 pb-6">Avançat</h2>

{% set c = ['Carro simple', 'carro 2','carro 3'] %}
{% set dies = ['04-12-25','05-12-25','06-12-25','07-12-25','08-12-25'] %}
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">Carro</th>
        {% for dia in dies %}
          <th scope="col" class="px-6 py-3 {% if loop.index is even %}bg-gray-50 dark:bg-gray-800{% endif %}">
            {{ dia }}
          </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for carro in c %}
        <tr class="border-b border-gray-200 dark:border-gray-700">
          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
            {{ carro }}
          </th>

          {% for dia in dies %}
            <td class="px-6 py-4 {% if loop.index is even %}bg-gray-50 dark:bg-gray-800{% endif %}">
              {% for r in reserves %}
              {% if carro == r.carro and dia == r.dia_reserva %}
                {{ r.nom }} {{ r.llinatges }}
              {% endif %}
              {% endfor %}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}